<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>关注同当互助</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/example.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
</head>
<body class="bgcgray">
    <div id="container" class="container">
        <div class="cellnormalbgc  normalbgc">
            <img src="{{$data['value']}}" alt="" style="width:100%;height:auto;">
            <!-- <div class="hd">
                <div class="page_title">关注同当互助公众号</div>
                <p align="center ">
                </p>
                <p align="center "><span class="wcolor">请长按并识别二维码关注我</span></p>
            </div> -->
        </div>
    </div>
<!--     <div class="subscribetext">
        <p>1、我们的宗旨：为充满善意的您提供温暖的港湾  </p>
        <p>2、我的经营理念：用户是我们的风向标   </p>
        <p>3、我的的服务理念：用诚信左手和专业的右手拥抱您</p>
        <p>4、我们的信念：你给我一点拥抱，我们就能给你一个充满关爱与温暖的社群</p>
    </div> -->
<script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
<script src="__ROOT__/Public/weixin/js/router.min.js"></script>
<script src="__ROOT__/Public/weixin/js/common.js"></script>
</body>
</html>