<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
    <title>重置密码</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/example.css"/>
     <script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
     <script src="__ROOT__/Public/weixin/js/router.min.js"></script>
     <script src="__ROOT__/Public/weixin/js/common.js"></script>
         <link href="/Public/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/login.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <script type="text/javascript">
       //检查输入项
        function checkphone(){
            var phone = $("input[name='phone']").val();
            if (phone == "") {
                $(".weui_dialog_bd").html("请输入手机号");  
                return false;
            } else if (!phone.match(/^(((1[3|5|7|8]{1}[0-9]{1}))+\d{8})$/)) {
                $(".weui_dialog_bd").html("手机号格式错误，请重新输入");  
                return false;
            }
            return true;
        }
        //发送验证码
        function sendsms() {
            if(checkuser()) {
                $.ajax({
                    type: "post",
                    url: '/interface.php?s=/home/Sms/smsSend',
                    async: false,
                    data: {mobile: $("#phone").val(),type:'注册'},
                    dataType: "json",
                    success: function(data){
                                console.log(data);
                        if (data.code == 2000){
                                time($("#sendcode"));
                                $(".weui_dialog_bd").html("验证码发送成功，可能会稍有延迟，请检查手机短信"); 
                            } else if(data.msg[0]){
                                $(".weui_dialog_bd").html(data.msg[0]); 
                            } else{
                                $(".weui_dialog_bd").html("验证码发送失败，请稍候再试"); 
                            }
                            $('#dialog2').show();
                    },
                    error:function() {
                        return false;
                    }
                });
            } else {
                $(".weui_dialog_bd").html("您尚未注册账号，先进行注册！");
                $('#dialog2').show(); 
            }
            
        }
        //按钮倒计时
        var wait=60; 
        function time(o) { 
            if (wait == 0) { 
                o.removeClass('weui_btn_disabled');
                o.on({
                    click:function(){ 
                        if (checkphone()) {
                            if (sendsms()){
                                time($("#sendcode"));
                                $(".weui_dialog_bd").html("验证码发送成功，可能会稍有延迟，请检查手机短信"); 
                                $('#dialog2').show();
                            } else {
                                $(".weui_dialog_bd").html("验证码发送失败，请稍候刷新页面再试"); 
                                $('#dialog2').show();
                            }
                        } else {
                            $('#dialog2').show();
                        }
                    }
                 });
                o.html("获取验证码"); 
                wait = 60; 
            } else { 
                $("#sendcode").off('click'); 
                o.addClass('weui_btn_disabled');
                o.html("重新发送(" + wait + ")"); 
                wait--; 
                setTimeout(function() { 
                        time(o) 
                    }, 
                1000) 
            } 
        }
        $(document).ready(function(){

                   
            $('#primary2').on({
                click:function(){
                    $('#dialog2').hide();
                }
            });
            $("#sendcode").on({
                click:function(){ 
                    if (checkphone()) {
                        res = sendsms();
                    } else {
                        $('#dialog2').show();
                    }
                }
             });
        });

        window.hasuser =0;

        /**
         * 验证此手机号是否存在
         * @return {[type]} [description]
         */
        function checkuser()
        {
            var userstatus = 0;
             $.ajax({
                type: "post",
                async: false,
                url: '{{:U("Register/checkuser")}}',
                data: {mobile:$("input[name='phone']").val()},
                dataType: "json",
                success: function(data){
                    if(data == 1){
                        window.hasuser =1;
                    } else{
                        $(".weui_dialog_bd").html("此手机号尚未注册！"); 
                        $('#dialog2').show();
                    }
                },
                error:function() {
                    $(".weui_dialog_bd").html("网络异常"); 
                    $('#dialog2').show();
                }
            });
             if (window.hasuser == 1){
                return true;
             }
        }

        /**
         * 检查验证码长度是否正确
         * @return {[type]} [description]
         */
        function checkcodetype(){
            var code = $("input[name='code']").val();
            if (code == "") {
                $(".weui_dialog_bd").html("请输入验证码");  
                return false;
            } else if(isNaN(code) || code.length != 6) {
                $(".weui_dialog_bd").html("验证码格式错误");  
                return false;
            }
            return true;
        }
        /**
         * 检查密码是否符合
         * @return {[type]} [description]
         */
        function checkpwd(){
            var pwd1 = $("input[name='password']").val();
            var pwd2 = $("input[name='primarypwd']").val();
            if (pwd1.length <6) {
                $(".weui_dialog_bd").html("密码最少6位");  
                return false;
            } else if(pwd2 !==pwd1) {
                $(".weui_dialog_bd").html("两次密码输入不一致");  
                return false;
            }
            return true;
        }

        /**
         * 检查验证码 、密码并提交
         * @return {[type]} [description]
         */
        function checkcode(){
                if (checkphone() && checkcodetype() && checkpwd()){
                    $.ajax({
                        type: "post",
                        url: '/interface.php?s=/home/Sms/checksms',
                        data: {mobile:$("input[name='phone']").val(),code:$("input[name='code']").val()},
                        dataType: "json",
                        success: function(data){
                            if(data == 1){
                                $('form').submit(); 
                            } else if (data == 0) {
                                $(".weui_dialog_bd").html("验证码错误"); 
                                $('#dialog2').show();
                            } else if (data.why == 2) {
                                $(".weui_dialog_bd").html("验证码超时"); 
                                $('#dialog2').show();
                            }
                        },
                        error:function() {
                            $(".weui_dialog_bd").html("网络异常"); 
                            $('#dialog2').show();
                        }
                    });
                } else {
                    $('#dialog2').show();
                }
        }
    
     </script>
<style type="text/css">
    body{
        background: url(/Public/Weixin/image/bgsignin.png) ;
        background-size: 100% 100%;
    }
    </style>
</head>

<body>
<div class="cell">
    <form id='form' name="form" method="post" action="" enctype="multipart/form-data">
        <div class="logo mcenter mtop4em">
            <img src="__ROOT__/Public/weixin/image/logo1.png" alt="">
        </div>

        
         <div class=" weui_cells_form bgcnone wb80 mcenter mtop4em">
            <div class="l_ui_cell bradiu_5e opacitypng">
                <div class="weui_cell_hd">
                    <label class="weui_label wb1em" ><i class="Hui-iconfont" style="color: #ffffff;">&#xe696;</i></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary mleft_5em">
                    <input class="weui_input wcolor" name="phone" id="phone" type="number" style="color: #ffffff;" placeholder="请输入手机号" value="请输入手机号" />

                </div>
            </div>
        </div>

        <div class=" weui_cells_form bgcnone wb80 mcenter mtop1em">
            <div class="l_ui_cell bradiu_5e opacitypng">
                <div class="weui_cell_hd">
                    <label class="weui_label wb1em" ><i class="Hui-iconfont" style="color: #ffffff;">&#xe63f;</i></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary mleft_5em">
                    <input class="weui_input wcolor" name="password" id="password" type="password" style="color: #ffffff;" placeholder="请输入密码,最少6位" value="" />

                </div>
            </div>
        </div>

        <div class=" weui_cells_form bgcnone wb80 mcenter mtop1em">
            <div class="l_ui_cell bradiu_5e opacitypng">
                <div class="weui_cell_hd">
                    <label class="weui_label wb1em" ><i class="Hui-iconfont" style="color: #ffffff;">&#xe63f;</i></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary mleft_5em">
                    <input class="weui_input wcolor" name="primarypwd" id="primarypwd" type="password" style="color: #ffffff;" placeholder="请输入密码,最少6位" value="" />

                </div>
            </div>
        </div>

        <div class=" weui_cells_form bgcnone wb80 mcenter mtop1em pstrelative">
            <div class="l_ui_cell bradiu_5e opacitypng">
                <div class="weui_cell_hd">
                    <label class="weui_label wb1em" ><i class="Hui-iconfont" style="color: #ffffff;">&#xe696;</i></label>
                </div>
                <div class="weui_cell_bd weui_cell_primary mleft_5em ">
                    <input class="weui_input wcolor" name="code" id="code" type="number" style="color: #ffffff;" placeholder="请输入验证码" value="请输入验证码" />
                    <span class="opacityypng pstabsolute rightz1 topz1 pallz3em wb40 fcenter wcolor borderzuo"  id="sendcode">获取验证码</span>
                </div>
            </div>
        </div>
        
        
     </form>

         <div class=" weui_cells_form wb80 mcenter mtop2em">
            <input type="button" class="weui_btn bgcnone opacityypng"  onclick="checkcode()" style="color: #ffffff;" value=" 提 交 ">
        </div>
</div>
    
<!--弹出框-->
<div class="weui_dialog_alert" id="dialog2" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
        <div class="weui_dialog_bd">你的查询已提交，工作人员将尽快与您联系！</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" id="primary2" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<div class="weui_extra_area wcolor opacity65 font-size05 mbottom2em">
    <p>版权所有：京ICP备16030282号</p>
    <p>北京万助科技有限公司</p>
</div>
</body>
</html>