<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="__PUBLIC__/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/css/default.css" />
<link rel="stylesheet" href="__PUBLIC__/editor/plugins/code/prettify.css" />

<link href="__PUBLIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/editor/kindeditor.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/kindeditor.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/lang/zh_CN.js"></script>
<title>添加代理</title>
</head>
<body>
<div class="pd-20">
    <form method="post" class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="id" id="id" value="{{$data.id}}">
        <?php unset($data["id"]) ?>
        <foreach name="data" item="v" key="k" >
            <div class="row cl">
                <label class="form-label col-2">{{$k}}</label>
                <div class="formControls col-5"><?php $k =preg_replace("/<(.*?)>(.*?)<(\/.*?)>/si","",$k);  echo str_replace("id=","placeholder=\"请输入$k\" id=",$v); ?>
                </div>
            </div>
        </foreach><div class="row cl">
            <div class="col-8 col-offset-2">
                <input type="hidden" name="doSubmit" value="ok">
                <input type="button" name="doSubmits" id="doSubmit" class="btn btn-primary radius Hui-iconfont" value="确定&#xe6a7;">
                <button onClick="layer_close('form-article-add')" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script src="/Public/weixin/js/ilazyui.js?json=no"></script>
<script>
$.iLazy.checkform("form-article-add");
</script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/mLazy.js"></script>
<if condition="$save">
<script type="text/javascript">
layer.msg("保存成功",{icon: 6,time:1000},function(){
    layer_close();
});

</script>
</if>

<script type="text/javascript">

/*关闭弹出框口*/
function layer_close(){
    var index = parent.layer.getFrameIndex(window.name);
    parent.layer.close(index);
}
$(document).ready(function() {
    $("#doSubmit").bind("click",function(){

        $("#form-article-add").submit();
    });
});
</script>
</body>
</html>