<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>购买会员列表</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/new/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/new/example.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
</head>
<body class="backgroud_f3">
    <div class="backgroud_ff mbottom1">
        <div class=" bgheight41 overflowhid mright15p mleft15p">            
            <img class="mright05 ftleft bgwidth30 bgheight30 braderradius100 mtop06"  src="__ROOT__/Public/weixin/image/gold.png" alt="" >
            <div class="mtop06 ">
                <p class="texcolor66">张三
                    <span class="ftright texcolora0">2016/10/10 10:20</span>
                </p>   
                
                <p class="texcolor66">购买数量：<span class="texcolor2d opacity08">20</span> 斤</p>
            </div>
        </div>
    </div>

    <div class="backgroud_ff mbottom1">
        <div class=" bgheight41 overflowhid mright15p mleft15p">            
            <img class="mright05 ftleft bgwidth30 bgheight30 braderradius100 mtop06"  src="__ROOT__/Public/weixin/image/gold.png" alt="" >
            <div class="mtop06 ">
                <p class="texcolor66">张三
                    <span class="ftright texcolora0">2016/10/10 10:20</span>
                </p>   
                
                <p class="texcolor66">购买数量：<span class="texcolor2d opacity08">20</span> 斤</p>
            </div>
        </div>
    </div>
</body>
</html>