<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>时令产品</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
</head>
<body class="backgroud_f3">
<!-- 带自营产的标识list -->
    <div class="weui_panel_bd backgroud_ff mtop1 ">
        <div class=" fontsize105 texcolor2d">
            <p class="mleft15p ftleft ptop06 pbottom02">张先生</p>
            <p class="mright15p fright pbottom02 ptop06 ">青海湖山羊<span class="mleft06">2800 元/只</span></p>
        </div>
        <div class=" fontsize08 texcolora0 ">
            <div class="mright15p mleft15p bbtmdashedd0 pbottom06" >
                <P class="ftleft"><i class="Hui-iconfont fontsize1 mtop01 icocolorls">&#xe6c9;</i><span class="mleft03">西青区  华庄子</span></P> 
                <p class="fright">篡单号:<span class="texspacing">SYGS-16090700001</span> </p>
            </div>
        </div>
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg ">
            <div class="pstabsolute marin0 ">
                <img class="btltadius6" src="__ROOT__/Public/weixin/image/zy.png">
            </div>

            <div class="weui_media_hd1 mbottom05">
                <img class="weui_media_appmsg_thumb bgwidth12 bgheight13 braderradius6" src="__ROOT__/Public/weixin/image/noimage.png" alt="">
            </div>
            <div class="weui_media_bd mbottom05">
                <p class="weui_media_desc_sy exwordwrap mtop_03">苏尼特羊，也称戈壁羊属蒙古绵羊系统中的一类肉用地方良种，在苏尼特草原特定生……</p>
                <h4 class="weui_media_title ftleft texcolor44  mtop1 mright05">已篡:<span>100 只</span></h4>
                <h4 class="weui_media_title fright texcolor4b  mtop1">正在篡单</h4>
            </div>
        </a>
    </div>
<!-- 没有自营产品的标识list -->
    <div class="weui_panel_bd backgroud_ff mtop1 ">
        <div class=" fontsize105 texcolor2d">
            <p class="mleft15p ftleft ptop06 pbottom02">张先生</p>
            <p class="mright15p fright pbottom02 ptop06 ">青海湖山羊<span class="mleft06">2800 元/只</span></p>
        </div>
        <div class=" fontsize08 texcolora0 ">
            <div class="mright15p mleft15p bbtmdashedd0 pbottom06" >
                <P class="ftleft"><i class="Hui-iconfont fontsize1 mtop01 icocolorls">&#xe6c9;</i><span class="mleft03">西青区  华庄子</span></P> 
                <p class="fright">篡单号:<span class="texspacing" >SYGS-16090700001</span> </p>
            </div>
        </div>
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg ">
            <div class="weui_media_hd1 mbottom05">
                <img class="weui_media_appmsg_thumb bgwidth12 bgheight13 braderradius6" src="__ROOT__/Public/weixin/image/noimage.png" alt="">
            </div>
            <div class="weui_media_bd mbottom05">
                <p class="weui_media_desc_sy exwordwrap mtop_03">苏尼特羊，也称戈壁羊属蒙古绵羊系统中的一类肉用地方良种，在苏尼特草原特定生……</p>
                <h4 class="weui_media_title ftleft texcolor44  mtop1 mright05">已篡:<span>100 只</span></h4>
                <h4 class="weui_media_title fright texcolor4b  mtop1">正在篡单</h4>
            </div>
        </a>
    </div>


    
</body>
</html>