<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>帐号明细</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
</head>
<body class="backgroud_f3">
<!-- 待自营标识的帐号明细 -->
	<div class="weui_panel_bd backgroud_ff mtop1 ">
        <div class=" fontsize105 texcolor2d">
            <p class="mleft15p ftleft ptop06 pbottom02">张先生</p>
            <p class="mright15p fright pbottom02 ptop06 texspacing">2016-09-18</p>
        </div>
        <div class=" fontsize08 texcolora0 ">
            <div class="mright15p mleft15p bbtmdashedd0 pbottom06" >
                <P class="ftleft"><i class="Hui-iconfont fontsize1 mtop01 icocolorls">&#xe6c9;</i><span class="mleft03">西青区  华庄子</span></P> 
                <p class="fright">篡单号:<span class="texspacing">SYGS-16090700001</span> </p>
            </div>
        </div>

        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg " >
            <div class="pstabsolute marin0 ">
                <img class="btltadius6" src="__ROOT__/Public/weixin/image/zy.png">
            </div>

            <div class="weui_media_hd_mx mtop_06">
                <img class="weui_media_appmsg_thumb bgwidth56 bgheight70 braderradius6" src="__ROOT__/Public/weixin/image/noimage.png" alt="">
            </div>

            <div class="weui_media_bd mbottom06 mtop_02 fontsize105">
                <h4 class="weui_media_title texcolor44">青海湖羊肉<span class="mleft10 texcolor2d">220元/斤</span> </h4>
                <h4 class="weui_media_title texcolor44 mtop03">购买数量<span class="mleft10 texcolor2d">220元/斤</span> </h4>
                <h4 class="weui_media_title texcolor44 mtop03">购买价格<span class="mleft10 texcolor2d">220元/斤</span> </h4>
                <h4 class="weui_media_title texcolor44 mtop03">订单状态<span class="mleft10 texcolor4b texweightbold">已支付</span> </h4>
            </div>
        </a>
    </div>
<!-- 没有自营标识的帐号明细 -->
    <div class="weui_panel_bd backgroud_ff mtop1 ">
        <div class=" fontsize105 texcolor2d">
            <p class="mleft15p ftleft ptop06 pbottom02">张先生</p>
            <p class="mright15p fright pbottom02 ptop06 texspacing">2016-09-18</p>
        </div>
        <div class=" fontsize08 texcolora0 ">
            <div class="mright15p mleft15p bbtmdashedd0 pbottom06" >
                <P class="ftleft"><i class="Hui-iconfont fontsize1 mtop01 icocolorls">&#xe6c9;</i><span class="mleft03">西青区  华庄子</span></P> 
                <p class="fright">篡单号:<span class="texspacing">SYGS-16090700002</span> </p>
            </div>
        </div>

        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg texlineheight160 ">
        <!--自营的图片-->
            <!-- <div class="pstabsolute marin0 ">
                <img class="btltadius6" src="__ROOT__/Public/weixin/image/zy.png">
            </div> -->

            <div class="weui_media_hd_mx mtop_06">
                <img class="weui_media_appmsg_thumb bgwidth56 bgheight70 braderradius6" src="__ROOT__/Public/weixin/image/noimage.png" alt="">
            </div>

            <div class="weui_media_bd mbottom06 mtop_02 fontsize105">
                <h4 class="weui_media_title texcolor44">青海湖羊肉<span class="mleft10 texcolor2d">220元/斤</span> </h4>
                <h4 class="weui_media_title texcolor44 mtop03">购买数量<span class="mleft10 texcolor2d">220元/斤</span> </h4>
                <h4 class="weui_media_title texcolor44 mtop03">购买价格<span class="mleft10 texcolor2d">220元/斤</span> </h4>
                <h4 class="weui_media_title texcolor44 mtop03">订单状态<span class="mleft10 texcolor4b texweightbold">已支付</span> </h4>
            </div>
        </a>
    </div>

</body>
</html>