<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="Public/lib/html5.js"></script>
<script type="text/javascript" src="Public/lib/respond.min.js"></script>
<script type="text/javascript" src="Public/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>系统日志</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统日志 <span class="c-gray en">&gt;</span> 系统日志 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
<i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-c">
		<form id="searchForm" method="post" action="{{:U('System/listview')}}">
			 <input type="hidden" name="kw" value="username"></input>
			日期范围：
			<input type="text" name="logmin" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" name="logmax" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;">
			<input type="text" name="username" id="username" placeholder=" 请输入管理员关键字" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">

	<!-- <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->
	 <span class="r"><span class="label label-success radius">共有数据：<strong>{{$count}}</strong> 条</span></span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="20"><input type="checkbox" name="" value=""></th>
					<th width="50">ID</th>
					<th width="60">模块</th>
					<th width="120">控制器</th>
					<th width="60">动作</th>
					<th width="150">执行路径</th>
					<th width="60">管理员</th>
					<th width="60">ip地址</th>
					<th width="60">时间</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>{{$vo.log_id}}</td>
					<td class="text-c">{{$vo.module}}</td>
					<td class="text-c">{{$vo.controller}}</td>
					<td class="text-c">{{$vo.action}}</td>
					<td class="text-c">{{$vo.querystring}}</td>
					<td class="text-c">{{$vo.username}}</td>
					<td class="text-c">{{$vo.ip}}</td>
					<td class="text-c">{{$vo.create_time}}</td>
				</tr>
				</volist>
			</tbody>
		</table>
		{{$page}}
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/js/H-ui.admin.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
// $('.table-sort').dataTable({
// 	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
// 	"bStateSave": true,//状态保存
// 	"aoColumnDefs": [
// 	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
// 	  {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
// 	]
// });

/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url,
		end:function(){
			location.reload();
		}
	});
	layer.full(index);
}
/*资讯-删除*/
function article_del(obj,url,id){
	layer.confirm('确认要删除吗？',function(index)
	{
		getAjax('get',url,'');
		if(JsonData.code == 2000)
		{
			layer.msg('已删除!',{icon:6,time:1000});
			$(obj).parents("tr").remove();
		}else
		{
			layer.msg('删除失败!',{icon:5,time:1000});
		}
	});
}

/**-搜索**/
function search_act(title,url)
{
	var params = '?'+$('#searchForm').serialize();
	url = url+params;
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

// /*资讯-审核*/
// function article_shenhe(obj,id){
// 	layer.confirm('审核文章？', {
// 		btn: ['通过','不通过'],
// 		shade: false
// 	},
// 	function(){
// 		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
// 		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
// 		$(obj).remove();
// 		layer.msg('已发布', {icon:6,time:1000});
// 	},
// 	function(){
// 		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
// 		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
// 		$(obj).remove();
//     	layer.msg('未通过', {icon:5,time:1000});
// 	});
// }
// /*资讯-下架*/
// function article_stop(obj,id){
// 	layer.confirm('确认要下架吗？',function(index){
// 		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
// 		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
// 		$(obj).remove();
// 		layer.msg('已下架!',{icon: 5,time:1000});
// 	});
// }

// /*资讯-发布*/
// function article_start(obj,id){
// 	layer.confirm('确认要发布吗？',function(index){
// 		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
// 		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
// 		$(obj).remove();
// 		layer.msg('已发布!',{icon: 6,time:1000});
// 	});
// }
// /*资讯-申请上线*/
// function article_shenqing(obj,id){
// 	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
// 	$(obj).parents("tr").find(".td-manage").html("");
// 	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
// }

</script>
</body>
</html>