<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="Public/lib/html5.js"></script>
<script type="text/javascript" src="Public/lib/respond.min.js"></script>
<script type="text/javascript" src="Public/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 微信管理 <span class="c-gray en">&gt;</span>自动回复<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-c">

	    <form id="searchForm" method="post" action="">
	        <input type="hidden" name="m" value="{{$Think.const.CONTROLLER_NAME}}" />
            <input type="hidden" name="a" value="{{$Think.const.ACTION_NAME}}" />
		    <!-- <input type="hidden" name="kw" value="name"></input> -->

			<span class="select-box inline">
			状态：
				<select name="ifok" class="select">
					<option value=""
                      <?php
		                if($_GET['ifok']==''){
		                    echo "selected";
		                }
		             ?>
					>全部</option>
					<option value="0"
                        <?php
		                if($_GET['ifok']=='0'){
		                    echo "selected";
		                }
		             ?>
					>未启用</option>
					<option value="1"
						 <?php
			                if($_GET['ifok']=='1'){
			                    echo "selected";
			                }
			             ?>
					>已启用</option>
				</select>
			</span>
	<!-- 	日期范围：
			<input type="text" name="logmin" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;" value="<?php echo $_POST['logmin'];?>">
			-
			<input type="text" name="logmax" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;" value="<?php echo $_POST['logmax'];?>"> -->
			<input type="text" name="kw" id="kw" placeholder=" 请输入关键词" style="width:250px" class="input-text" value="{{$Think.get.kw}}">
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	    </form>


	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
	<span class="l">
	<!-- <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->
	<a class="btn btn-primary radius" onclick="reply_add('添加回复规则','{{:U('Fun/autoreply_edit')}}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i>添加回复规则</a></span> <span class="r"><span class="label label-success radius">共有数据：<strong>{{$count}}</strong> 条</span></span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th>自动回复名称</th>
			        <th>关键字</th>
			        <th>控制器</th>
			        <th>回复</th>
			        <th>添加时间</th>
			        <th>状态</th>
			        <th>操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr class="text-c">
					<td class="text-c">{{$vo.sname}}</td>
					<td class="text-c">{{$vo.kw|default="--"}}</td>
					<td class="text-c">{{$vo.gzctrl|default="--"}}::{{$vo.gzfun|default="--"}}</td>
					<td class="text-c">
					   <if condition="$vo.scid eq '0'">
                         <font color=red>文字</font>
                        <else/>
		                    素材[{{$v.scid}}]
		                </if>
					</td>
					<td class="text-c">{{$vo.addtime|date="Y-m-d",###}}</td>
					<td class="td-status">
						<if condition="$vo.ifok eq '0'">
						    <span class="label label-danger radius">未启用</span>
						<else/>
							<span class="label label-success radius">已启用</span>
						</if>
					</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="reply_edit('编辑回复规则','{{:U('Fun/autoreply_edit',array('id'=>$vo['id']))}}')" href="javascript:;" title="编辑">
						<i class="Hui-iconfont">&#xe6df;</i>
						</a>
                        <a style="text-decoration:none" class="ml-5" onClick="reply_del(this,'{{:U('Fun/autoreply_delete',array('id'=>$vo['id']))}}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				</volist>
			</tbody>
		</table>
		<div id="page" class="pagin">{{$page}}</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/hx_common.js"></script>
<script type="text/javascript">
// $('.table-sort').dataTable({
// 	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
// 	"bStateSave": true,//状态保存
// 	"aoColumnDefs": [
// 	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
// 	  {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
// 	]
// });

/*资讯-添加*/
function reply_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function reply_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url,
		end:function(){
			location.reload();
		}
	});
	layer.full(index);
}
/*资讯-删除*/
function reply_del(obj,url,id){
	layer.confirm('确认要删除吗？',function(index)
	{
		getAjax('get',url,'');
		if(JsonData.code == 2000)
		{
			layer.msg('已删除!',{icon:6,time:1000});
			$(obj).parents("tr").remove();
		}else
		{
			layer.msg('删除失败!',{icon:5,time:1000});
		}
	});
}
/**-搜索**/
function reply_search(title,url)
{
	// var params = '?'+$('#searchForm').serialize();
	// url = url+params;
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}


</script>
</body>
</html>