<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="Public/lib/html5.js"></script>
<script type="text/javascript" src="Public/lib/respond.min.js"></script>
<script type="text/javascript" src="Public/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <title>订单列表</title>
</head>
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>首页 <span class="c-gray en">&gt;</span> 订单系统 <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
<i class="Hui-iconfont">&#xe68f;</i></a></nav><div class="pd-20">
        <div class="text-c">
        <form id="searchForm" method="post"><li><div  class='searchForm-input'><label>订单号:</label><input class='input-text' type='text' name='search1[order_no]' placeholder='订单号'></div></li><li><div  class='searchForm-input'><label>会员id:</label><input class='input-text' type='text' name='search1[userid]' placeholder='会员id'></div></li><li><label>互助计划:</label><select name="search[planid]" id="planid" class="select" ><?php
            $options = M('plan')->where('1')->select();
        ?>{{:fill_option($options, '', 'title')}}</select></li><li><label>订单状态:</label><select name="search[status]" id="status" class="select" ><option value='' selected>请选择</option><option value='1' >生成订单</option><option value='2' >确认订单</option><option value='3' >取消订单</option><option value='4' >作废订单</option><option value='5' >完成订单</option></select></li><li><button name="" id="" class="btn btn-success" type="submit" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button></li></ul></form>
    <script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="/Public/weixin/js/ilazyui.js?json=no"></script>
    <script>$.iLazy.FillDataUseJson(<?php $json=array_merge($_POST,$_GET);if($json){echo json_encode($json);}else{echo '""';}?>,true);</script>
    <div class="text-c">
    <form action="" method="post" id="submitForm">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
    </span>
    <span class="r"><span class="label label-success radius">共有数据：<strong>{{$list|count}}</strong> 条</span></span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead><tr class="text-c"><th>订单号</th><th>会员id</th><th>互助计划</th><th>订单总额</th><th>订单状态</th><th>支付状态</th><th>订单类型</th><th>订单时间</th><th>支付类型</th><th>操作</td></tr>
            </thead>
            <tbody>
                <volist name="list" id="vo">
                <tr class="text-l">
                        <td>{{$vo.order_no}}</td>
                        <td>{{$vo.userid}}</td>
                        <td>{{:getSelectValue($vo[planid], "plan", "1","title")}}</td>
                        <td>{{$vo.payable_amount}}</td>
                        <td>{{:getRadioValue($vo[status], "[生成订单,1],[确认订单,2],[取消订单,3],[作废订单,4],[完成订单,5]")}}</td>
                        <td>{{:getRadioValue($vo[pay_status], "[未支付,0],[已支付,1],[退款,2]")}}</td>
                        <td>{{:getSelectValue($vo[type], "trade_type", "1","")}}</td>
                        <td>{{$vo.create_time}}</td>
                        <td>{{:getRadioValue($vo[pay_type], "[微信支付,1],[钱包支付,2]")}}</td>
                    <td><a style="text-decoration:none" class="ml-5" onClick="article_add('查看','.<?php echo U('Order/itemedit',array('id'=>$vo['id'])); ?>')" href="javascript:;" title="查看">
                                <i class="Hui-iconfont"></i>查看
                            </a></td></tr>
                </volist>
            </tbody>
        </table>
        <div id="page" class="pagin">{{$page}}</div>
    </div>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
function jump_other(title,url){
    var w = w == undefined ? 800 : w;
    var h = h == undefined ? 600 : h;
    var index = layer.open({
        type: 2,
        area: [w+"px", h +"px"],
        title: title,
        content: url,
        success: function(layero, index){
            console.log(layero, index);
        },
        yes: function(index, layero){
            //do something
            layer.close(index); //如果设定了yes回调，需进行手工关闭
        },
        end:function(index,laero){
            location.replace(location.href);
        }
    });
    layer.full(index);
}
/*添加*/
function article_add(title,url,w,h){
    w = w == undefined ? 800 : w;
    h = h == undefined ? 600 : h;
    var index = layer.open({
        type: 2,
        area: [w+"px", h +"px"],
        title: title,
        content: url,
        success: function(layero, index){
            console.log(layero, index);
        },
        yes: function(index, layero){
            //do something
            layer.close(index); //如果设定了yes回调，需进行手工关闭
        },
        end:function(index,laero){
            location.replace(location.href);
        }
    });
    layer.full(index);
}
/*编辑*/
function article_edit(title,url,id,w,h){
    w = w == undefined ? 800 : w;
    h = h == undefined ? 600 : h;
    var index = layer.open({
        type: 2,
        area: [w+"px", h +"px"],
        title: title,
        content: url,
        success: function(layero, index){
            console.log(layero, index);
        },
        yes: function(index, layero){
            //do something
            layer.close(index); //如果设定了yes回调，需进行手工关闭
        },
        end:function(index,laero){
            location.replace(location.href);
        }
    });
    layer.full(index);
}
/*删除*/
function article_del(title,url){
    layer.confirm("确认要删除吗？",function(index)
    {
        $.getJSON(url,
            function(msg){
                if(msg.code == 2000)
                {
                    layer.msg("已删除!",{icon:6,time:1000});
                    location.replace(location.href);
                }else
                {
                    layer.msg("删除失败!",{icon:5,time:1000});
                }
        });
    });
}

</script>
<script type="text/javascript">
var search = <?php if(empty($sdata)){echo "\"\"";}else{echo json_encode($sdata);}?>;
$(document).ready(function(){
    if(search!="")
    {
        for(var o in search)
        {
            $("#"+o+"").val(search[o]);
        }
    }
});
</script>
</body>
</html>