<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="Public/lib/html5.js"></script>
<script type="text/javascript" src="Public/lib/respond.min.js"></script>
<script type="text/javascript" src="Public/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="Public/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="Public/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="Public/css/style.css" rel="stylesheet" type="text/css" />
<link href="Public/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<title>浅薄支付</title>
</head>
<body>
<div >
  <?php $familylist = array('2'=>2); ?>
  <input type="button" class="btn btn-primary radius" value="测试下单" onclick='payplans()'><br><br>
  <input type="button" class="btn btn-primary radius" value="测试计划扣款" onclick='testplan("plandeduct")'><br><br>
  <input type="button" class="btn btn-primary radius" value="测试计划充值" onclick='testplan("planrecharge")'><br><br>
  <input type="button" class="btn btn-primary radius" value="测试捐赠" onclick='testplan("donate")'><br><br>
  <input type="button" class="btn btn-primary radius" value="测试账户充值" onclick='recharge()'><br><br>

  <input type="text" class="input-text" id="result" placeholder="订单号">

  </p>
<div class="footer"> </div>
<script type="text/javascript" src="Public/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="Public/js/iLazy.js"></script>
<script type="text/javascript" src="Public/js/angular.min.js"></script>
<script type="text/javascript">
    function payplans(){
      var fam = '<?php echo json_encode($familylist); ?>';
      $.ajax({
        url: 'interface.php?s=/home/order/payplan',
        type: 'GET',
        dataType: 'json',
        data: {userid: 'AX1000001', planid:'2', familyids:fam},
        success: function(data){
          if (data.code == 2000) {
            $("#result").val(data.data.order_no);
          }else{
            $("#result").val(data.msg);
          }
        },
        error: function (){
          $("#result").val('网络错苏');
        },
      });
    }

    function testplan(m){
      $.ajax({
        url: 'interface.php?s=/home/order/'+m,
        type: 'GET',
        dataType: 'json',
        data: {userid: 'AX1000002', planid:'2', money:'5.7'},
        success: function(data){
          if (data.code == 2000) {
            $("#result").val(data.data.order_no);
          }else{
            alert(data.msg);
            $("#result").val(data.msg);
          }
        },
        error: function (){
          $("#result").val('网络错苏');
        },
      });
    }

    function recharge () {
        $.ajax({
        url: 'interface.php?s=/home/order/recharge',
        type: 'GET',
        dataType: 'json',
        data: {userid: 'AX1000002', money:'57.5'},
        success: function(data){
          if (data.code == 2000) {
            $("#result").val(data.data.order_no);
          }else{
            alert(data.msg);
            $("#result").val(data.msg);
          }
        },
        error: function (){
          $("#result").val('网络错苏');
        },
      });
    }
</script>
</body>
</html>