<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>账户明细</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/example.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/js/jquery1.8.1/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/weixin/js/ilazyui.js"></script>
</head>
<body class="backgroud_hui">
    <include file="Wpublic/share"/>
    <div class="bd">
        <if condition="empty($res)"><div class="notfound"></div></if>
       <div class="history_list">
           <ul id="pro_list">
                <volist name="res" id="mes">
                   <li>
                       <p>尊敬的会员您好:<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$mes['content']}}</p>
                   </li>
                </volist>
           </ul>
       </div>
       <div class="loading" style="display: none;text-align:center">正在加载，请稍候</div>
    </div>
<script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
<script src="__ROOT__/Public/weixin/js/router.min.js"></script>
<script src="__ROOT__/Public/weixin/js/common.js"></script>
 <script type="text/javascript">
    $(function(){
        var page=1;//当前页
        var ajax=!1;//是否加载中
        var last=0;//是否是最后一页
        var ul_obj = $('#pro_list');
        $(window).scroll(function(){
            if(($(window).scrollTop() + $(window).height() > $(document).height()-40) && !ajax && !last){
                ajax=!0;//注明开始ajax加载中
                $(".loading").show();//出现加载图片
                $.ajax({
                    type: 'POST',
                    data:{'page':page},
                    url: '<?php echo U("Wallet/ajaxAcount"); ?>',
                    dataType: 'json',
                    success: function(data){

                        if (typeof(data[0]) == 'undefined'){
                            last = 1;
                            $(".loading").html("暂无更多内容！");
                        } else {
                            var li_clone =  "";
                            for(var i= 0,l = data.length;i<l;i++){
                                //处理数据并插入
                                var  content = data[i].content;
                                    li_clone +='<li><p>'+content+'</p></li>';
                            };
                            page++;
                            ul_obj.append(li_clone); //克隆元素
                            $(".loading").hide();
                        }
                        ajax=!1;//注明已经完成ajax加载
                    },
                    error: function(xhr, type){
                        $(".loading").html("暂无更多内容！");
                    }
                });
            }else if(!ajax && last){
                $(".loading").show();
            }
        });
    })
 </script>
</body>
</html>