<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的钱包</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/example.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>

</head>
<body class="backgroud_f3 ">
    <div class="backgroud_ff pleft15p pright15p ptop15 pbottom10 heinght200p fcenter">
        <div class="braderradius100 roudwh pstabsolute texcenter borderby">
            <p class="texcolora0 fontsize1 ptop20">当前冻结资金</p>
            <p class="texcolor44 texweightbold texspacing texlineheight21m fontsize13">900.00元</p>
            <p class="texcolora0 fontsize1 texlineheight21m">用户数</p>
            <p class="texcolor66 fontsize1 texlineheight08m">1 / 10000</p>
        </div>
        <div class="texcenter ftright">
            <p class="texcolor44 fontsize13 texweightbold texspacing ptop08">100.00</p>
            <p class="texcolor66 fontsize1 texlineheight21m">当前积分</p>
            <p class="texcolor2d fontsize1 texlineheight21m pleft10 pright10 border2d braderradius6 mtop2" >积分兑换</p>
        </div>
    </div>

    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="<?php echo U('wallet/history');?>">
            <div class="weui_cell_hd"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <i class="Hui-iconfont icocolorhh">&#xe681;</i> <span class="mleft05"> 账户明细</span>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>

    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="<?php echo U('wallet/history');?>">
            <div class="weui_cell_hd"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <i class="Hui-iconfont icocolorhh">&#xe720;</i> <span class="mleft05"> 积分说明</span>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>


<script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
<script src="__ROOT__/Public/weixin/js/router.min.js"></script>
<script src="__ROOT__/Public/weixin/js/common.js"></script>
</body>
</html>