<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>攒单订单详情</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/example.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>
</head>
<body class="backgroud_f3">
<!-- 详情列表 -->
    <div class="weui_panel_bd backgroud_ff">
        <div class=" fontsize1 texcolor44 bbtmdashedd0 pbottom04">
            <p class="mleft15p ftleft ptop06 pbottom02">李苹果</p>
            <p class="mright15p fright pbottom02 ptop06 ">订单号:<span>SYGS-D16090700001</span></p>
        </div>
        <div class="weui_media_box mbottom06 mtop_02 fontsize105">
            <h4 class="weui_media_title texcolor44 ">篡购数量：<span class=" texcolor88 ftright">100只</span> </h4>
            <h4 class="weui_media_title texcolor44 ">支付金额：<span class=" texcolor88 ftright">1000元</span> </h4>
            <h4 class="weui_media_title texcolor44 mtop03">送货方式：<span class=" texcolor88 ftright">自费邮费</span> </h4>
            <h4 class="weui_media_title texcolor44 mtop03">联系方式：<span class=" texcolor88 ftright">186-9810-0503</span></h4>
            <h4 class="weui_media_title texcolor44 mtop03">下单时间：<span class=" texcolor88 ftright">2016/9/10 18:00</span></h4>
            <h4 class="weui_media_title texcolor44 mtop03">收货时间：<span class=" texcolor88 ftright">2016/9/15 18:00</span></h4>
            <h4 class="weui_media_titlef texcolor44 mtop03">邮寄地址：<span class=" texcolor88">天津市西青区中北镇开源路中北天软创业园</span> </h4>
        </div>

        <div class="weui_cellb ">
            <div class="datagrid3">
                <ul>
                    <li class="bluelink">
                        <a href="" class="texcolor2d">售后处理</a>
                    </li>
                    <li class="borderleftgray greenlink">
                            <a href="" class="texcolor2d"><div class="account_list_menu_a2">帮助</div></a>
                    </li>
                    <li class="borderleftgray  orangelink">
                        <!-- <a href="" class="texcolor2d">发货</a> -->
                        <!-- <a href="" class="texcolor2d">派送中</a> -->
                        <!-- <a href="" class="texcolor2d">代收货</a> -->
                        <p class="texcolora0">发货完成</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
<script src="__ROOT__/Public/weixin/js/router.min.js"></script>
<script src="__ROOT__/Public/weixin/js/common.js"></script>
</body>
</html>