<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>订单详情</title>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/new/weui.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/new/example.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/shequhudong.css"/>
    <link rel="stylesheet" href="__ROOT__/Public/weixin/css/ilazy.css"/>
    <link href="__ROOT__/Public/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
</head>
<body class="backgroud_f3">
<!-- 我的订单详情 -->
    <div class="fontsize1 texcolor44 mtop06 mbottom05 mleft15p mright15p">
        <div class="right15 mtop06 fontsize105 texcolor77 " >收货地址
           <span class="ftright"><i class="Hui-iconfont fontsize1 mtop01 icocolorhs mright03 ">&#xe6a8;</i>已完成</span>
        </div>
    </div>
<!-- 详细地址 -->
    <div class="weui-media__box backgroud_ff">
        <div class="mleft15p mright15p pbottom05 ptop05">

            <div class="pbottom08  bbtmsolidee">
                <h4 class="weui-media__title texcolor44">订单号：<span class="texcolor66">{{$orderinfo['orderno']}}</span></h4>
                <p class="weui-media__title mtop03 ftleft texcolor66 ">姓名：<span class="texcolor88">
                    <!-- {{:msubstr($orderinfo['username'], 0,4)}}截取四个字 -->
                    {{$orderinfo['username']}}</span></p>
                <p class="weui-media__title mtop03 fright texcolor66">电话：<span class="texcolor88">{{$orderinfo['userphone']}}</span></p>
                <p class="mtop03 texcolor66">地址：<span class="texcolor88">{{$orderinfo['useraddress']}}</span></p>
            </div>
            <div class="ptop05 fontsize1">
                <p class="texcolor44">物流信息</p>
                <p class="weui-media__title texcolor88 mtop03 mbottom03">运单号：<span class="texcolor88">{{$orderinfo['post_no']|default='商品正在配货'}}</span>
                    <i class="Hui-iconfont fontsize1  icocolorns mleft03 ftright ">&#xe6a8;<span class="texcolor4bq">
                            <if condition="$orderinfo['post_status'] eq 1">
                                已发货
                            <elseif condition="$orderinfo['post_status'] eq 2" />
                                派送中
                            <elseif condition="$orderinfo['post_status'] eq 2" />
                                完成
                            <else/>
                                配货中
                            </if>
                        </span>
                    </i>
                </p>
            </div>
        </div>
    </div>
<!-- 商品信息 -->
    <div class=" fontsize1 texcolor44 mleft15p mtop06 mbottom05">商品信息</div>
    <div  class="weui-media-box  backgroud_ff bbtmsolidee ">
        <if condition="$goodsinfo['isself'] eq 1">
            <div class="pstabsolute marin0 ">
                <img class="btltadius6" src="__ROOT__/Public/weixin/image/zy.png">
            </div>
        </if>
        <div class="ftleft mright06">
            <img class="weui-media__thumb bgwidth68 bgheight70 braderradius6" src="{{$orderinfo['image']|default='__ROOT__/Public/weixin/image/noimage.png'}}" alt="">
        </div>
        <div class="weui-media__bd  mtop_02 fontsize105">
            <p class="weui-media__title texcolor44 mtop02">发起篡单：<span class=" texcolor77 ftright">{{$orderinfo['owername']}} 攒</span> </p>
            <p class="weui-media__title texcolor44 mtop02">购买数量：<span class=" texcolor77 ftright">{{$orderinfo['number']}} 份</span> </p>
            <p class="weui-media__title texcolor44 mtop02">支付金额：<span class=" texcolor77 ftright">{{$orderinfo['goods_amount']}} 元</span> </p>
            <p class="weui-media__title texcolor44 mtop02">总计商品：<span class=" texcolor77 ftright">共1件商品</span> </p>
        </div>
    </div>
    <div class="backgroud_ff ptop01 pbottom08">
        <div class="mleft15p mright15p ">
            <p class="weui-media__title  ftleft texcolor66">邮费<span class="texcolor2dq mleft05">￥：{{$orderinfo['fare']}}</span></p>
            <p class="weui-media__title mtop03 fright texcolor66">优惠<span class="texcolor2dq mleft05">￥：0.00</span></p>
            <p class="weui-media__title mtop03 texcolor66 mtop05">合计金额<span class="texcolor2dq  mleft05">￥：{{$orderinfo['pay_amount']}}</span></p>
        </div>
    </div>
<!-- 下单时间 -->
    <div class="weui-cells mtop08 mbottom26">
        <div class="weui-cell">
            <div class="weui-cell__bd width30">
                <p class="texcolor66">下单时间</p>
            </div>
            <div class="weui-cell__ft width70 fright" >{{$orderinfo['create_time']}}</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd width30">
                <p class="texcolor66">收货方式</p>
            </div>
            <div class="weui-cell__ft width70 fright">小区自提</div>
        </div>
    </div>
<!-- 固定在手机底部的不动 -->
    <div class="weui_cellxq backgroud_ff  " style="bottom: 0px; position: fixed; width: 100%; border-top: 1px solid #dddddd; text-align: center; margin-right: 15px;">
        <div class="datagrid3" style="margin-top: 0px; text-align: center;">
            <ul style="">
                <li class="graylink">
                    <if condition="$orderinfo['status'] eq 3 or $orderinfo['status'] eq 4 or $orderinfo['status'] eq 8">
                        <a href="javascript:delorder('{{$orderinfo[orderno]}}')" class="texcolor2d">删除订单</a>
                    <else />
                        <a href="" class="texcolor2d">取消订单</a>
                    </if>
                </li>
                <li class="borderleftgray greenlink">
                    <if condition="$orderinfo['status'] eq 1">
                        <a href="interface.php?s=/home/pay/payorder/orderid/{{$orderinfo['orderno']}}/userid/{{$userid}}" class="texcolor2d"><div class="account_list_menu_a2">确认付款</div></a>
                    <elseif condition="$orderinfo['status'] eq 2" />
                        <a href="" class="texcolor2d"><div class="account_list_menu_a2">催单进展</div></a>
                    <elseif condition="$orderinfo['status'] eq 5" />
                        <a href="javascript:showcode('{{$orderinfo[orderno]}}', '{{$orderinfo[status]}}')" class="texcolor2d"><div class="account_list_menu_a2">扫码收货</div></a>
                    <elseif condition="$orderinfo['status'] eq 6" />
                        <a href="" class="texcolor2d"><div class="account_list_menu_a2">退换货物</div></a>
                    </if>
                </li>
                <li class="borderleftgray orangelink">
                    <a href="">物流信息</a>
                </li>
            </ul>
        </div>
    </div>
<div class="weui-gallery" style="display: none">
    <span class="weui-gallery__img" style="background-image: url();"></span>
</div>
<script src="__ROOT__/Public/weixin/js/jquery.min.js"></script>
<script src="__ROOT__/Public/weixin/js/router.min.js"></script>
<script src="__ROOT__/Public/weixin/js/common.js"></script>
<script type="text/javascript">
    var intervalid = 0;
    $(document).ready(function() {
        $(".weui-gallery").click(function(event) {
            $(this).hide();
            clearInterval(intervalid);
        });
    });

    function getstatus(orderno, status){
        $.ajax({
            url: 'interface.php?s=/home/order/getstatus',
            type: 'POST',
            dataType: 'json',
            data: {orderno: orderno},
            success: function(data){
                if (data.code == 2000 && data.data != status) {
                    window.location.reload();
                }
            },
        });
    }
    // 展示收货二维码
    function showcode (url, status) {
        $(".weui-gallery").show();
        $(".weui-gallery__img").attr('style', 'background-image:url(http://paysdk.weixin.qq.com/example/qrcode.php?data=http://'+window.location.host+'/index.php?s=/home/order/handout/orderno/'+url+')');
        intervalid = setInterval('getstatus("'+url+'", "'+status+'")', 1000);
        // setTimeout('getstatus("'+url+'", "'+status+'")', 1000);
    }

</script>
</body>
</html>